.DS_Store
.env
backend/__pycache__/callback.cpython-312.pyc
backend/__pycache__/data.cpython-312.pyc
backend/__pycache__/quote.cpython-312.pyc
backend/__pycache__/utils.cpython-312.pyc
logs/shioaji.log
test/shioaji.log
shioaji.log
test/test.ipynb
backend/__pycache__/callback_functions.cpython-312.pyc
backend/__pycache__/frame.cpython-312.pyc
backend/__pycache__/state.cpython-312.pyc
tempCodeRunnerFile.py
backend/__pycache__/arbitrage.cpython-312.pyc
data/020039_2024-10-17.csv
data/TXFR1_2024-10-17.csv
frontend/__pycache__/message.cpython-312.pyc
frontend/__pycache__/webhook.cpython-312.pyc
backend/__pycache__/data_redis.cpython-312.pyc
backend/__pycache__/serial.cpython-312.pyc
dump.rdb
fetchdata/2024-10-08.csv
fetchdata/2024-10-09.csv
fetchdata/2024-10-11.csv
fetchdata/2024-10-14.csv
fetchdata/2024-10-15.csv
fetchdata/2024-10-16.csv
fetchdata/2024-10-17.csv
fetchdata/fetch_ticks.ipynb
fetchdata/txfr1_2024_10_18.csv
environment.yaml
backend/__pycache__/__init__.cpython-312.pyc
test/__pycache__/mock_data.cpython-312.pyc
