aiohappyeyeballs
aiohttp
aiosignal
annotated-types
APScheduler
attrs
base58
based58
certifi
cffi
charset-normalizer
ciso8601
discord.py
filelock
frozenlist
idna
importlib_metadata
loguru
msgpack
multidict
numpy
orjson
pandas
propcache
pycparser
pydantic
pydantic_core
PyNaCl
pyrsca
pysolace
python-dateutil
python-dotenv
pytz
requests
sentry-sdk
setuptools
shioaji
six
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
wheel
xxhash
yarl
zipp
